In [1]:
import pandas as pd
import numpy as np

In [2]:
#import
data = pd.read_csv('/Users/luopei/Documents/Research/Hypocretin/oxlight/SI oxlight/Zscore+F/7185_AS_VP.csv')

In [3]:
#Chop for +/-10 seconds around each new bout of NN Sniff

ts = data.loc[data['Upright'] == 1]['time'].tolist() #only rows where prox_new is 1
eventTimes = np.linspace(-10,10,601)

dataOut = {'Time':eventTimes}

for i,time in enumerate(ts):
    individual_events = data.loc[(data['time']> time -10) & (data['time'] < time + 10)]
    
    photometry = individual_events['dFF'].tolist()
    a = np.empty(601)
    a[:] = np.nan
    a[:len(photometry)] = photometry
#     print(len(a))
    dataOut.update({'Bout '+str(i):a})
# dataOut
df_new = pd.DataFrame(dataOut)

#Z-Score data using -10 to -5 seconds before behavior starts as the baseline
baseline = df_new.loc[(df_new['Time'] < -5), :]
pre_mean = baseline.mean()
pre_std = np.std(baseline)
norm = (df_new - pre_mean)/pre_std
norm['Time'] = df_new['Time']
Upright_chopped = norm

In [4]:
Upright_chopped.to_csv('/Users/luopei/Documents/Research/Hypocretin/oxlight/SI oxlight/Chopped/7185_AS_VP_Upright.csv')
Upright_chopped

          Time    Bout 0    Bout 1    Bout 2    Bout 3
0   -10.000000  2.300215  0.723215 -0.483193  1.182404
1    -9.966667  0.640089 -0.137779 -0.325392  2.250451
2    -9.933333 -0.571612  0.801591  0.345105  0.463799
3    -9.900000  1.187587  0.769059  1.266729 -0.202012
4    -9.866667 -0.364294  0.435244  0.412070  0.358935
..         ...       ...       ...       ...       ...
596   9.866667  2.183713  2.583129 -3.234790       NaN
597   9.900000  3.785770  2.672052 -2.736332       NaN
598   9.933333  1.356301  2.574309 -4.494946       NaN
599   9.966667  3.403568  3.214268 -5.267484       NaN
600  10.000000  3.716239  3.785904 -4.217137       NaN

[601 rows x 5 columns]